@charset "UTF-8";

@import './variables.scss';


html {
		background: $color-brand-indigo;
		color: $color-text-reverse;
		font-family: "Montserrat Variable", sans-serif;
		font-size: 18px;
		line-height: 1.45;
		scroll-behavior: smooth !important;
	}
	* {
		box-sizing: border-box;
        margin: 0;
        padding: 0;
	}
	.skip-link {
		color: $color-text-reverse;
		font-weight: bold;
	}
	.sr-only {
		clip: rect(0,0,0,0);
		border-width: 0;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px
	}
	.focus\:not-sr-only:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		padding: 0;
		position: static;
		white-space: normal;
		width: auto
	}

	body {
		min-height: 100vh;
	}
	h1 {
		font-size: 2rem;
		font-weight: 500;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: 2rem;
		padding-top: 3rem;
		@media (min-width: 1024px) {
			font-size: 2rem;
		}
	}
	h3 {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 1rem;
	}
	p {
		font-size: 1.2rem;
	}
	img {
		display: block;
	}
	a {
		color: $color-brand-orange-light;
		text-decoration: underline;
		&:hover,
		&:active,
		&:focus {
			color: $color-brand-orange-dark;
		}
	}
	.transparent {
		opacity: .85;
	}
	.visible {
		display: block;
	}
	.invisible {
		visibility: hidden;
	}
	.space-above {
		margin-top: $spacing-4;
	}
	.hidden {
		display: none;
	}
	.animate {
		animation-duration: 0.5s;
		animation-name: animate-fade;
		animation-delay: 0.5s;
		animation-fill-mode: backwards;
	}
	.btn {
		background: #fff;
		border: 1px solid $color-brand-indigo;
		border-radius: 10px;
		color: $color-brand-indigo;
		display: block;
		font-weight: bold;
		max-width: 150px;
		padding: .5rem;
		text-align: center;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			background: $color-brand-indigo-lightest;

		}
	}

	@keyframes animate-fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100%;
		}
	}
	@media (max-width: 1023px) {
		header {
			height: 4rem;
		}
		#menu-toggle {
			opacity: 0;
			&:checked {
				~ {
					.menu-btn {
						>span {
							transform: rotate(45deg);
							&::before {
								top: 0;
								transform: rotate(0);
							}
							&::after {
								top: 0;
								transform: rotate(90deg);
							}
						}
					}
					.menu-wrapper {
						visibility: visible;
						left: 0;
					}
				}
			}
		}
		.menu-btn {
			display: flex;
			align-items: center;
			position: fixed;
			top: 20px;
			left: 20px;
			width: 26px;
			height: 26px;
			cursor: pointer;
			z-index:12;
			>span {
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $color-brand-orange-light;
				transition-duration: .25s;
				&::before {
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $color-brand-orange-light;
					transition-duration: .25s;
					content: '';
					top: -8px;
				}
				&::after {
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $color-brand-orange-light;
					transition-duration: .25s;
					content: '';
					top: 8px;
				}
			}
		}
		.menu-wrapper {
			display: block;
			position: fixed;
			visibility: hidden;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 80px 0;
			list-style: none;
			background-color: $color-brand-indigo;
			box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
			transition-duration: .25s;
			z-index: 10;
		}
		.menu-item {
			display: block;
			padding: 12px 24px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			font-weight: 600;
			text-decoration: none;
			transition-duration: .25s;
			&.icon {
				display: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}

	}

	@media (min-width: 1024px) {
		.navbar input[type="checkbox"],
		.navbar .hamburger-lines {
			display: none;
		}

		.navbar {
			box-shadow: 0px 5px 10px 0px #aaa;
			position: fixed;
			width: 100%;
			background: #fff;
			color: #000;
			height: 50px;
			z-index: 12;
		}

		.navbar-container {
			display: flex;
			justify-content: center;
			height: 64px;
			align-items: center;			
		}

		.mobile-logo {
			display: none;
		}

		.menu-wrapper {
			order: 2;
			display: flex;
			align-items: center;
			li {
				list-style: none;
				margin-left: 6rem;
				margin-bottom: 0.5rem;
				font-size: 1.2rem;					
				a {
					text-decoration: none;
					color: #444;
					font-weight: 500;
					transition: color 0.3s ease-in-out;
					&:hover,
					&:active,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}	
		
		#home {
			.menu-wrapper {
				li.home {
					display: none;
				}
			}
		}
	}
	
footer {
	background: $color-brand-indigo-light;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
	p {
		font-size: smaller;
		width: auto;
	}

}	
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}