/* colors */
$color-brand-indigo: #262161;
$color-brand-indigo-light: #3f3a7c;
$color-brand-indigo-lighter: #64609b;
$color-brand-indigo-lightest: #8d89b7;
$color-brand-super-lightest: #bab7d5;
$color-brand-orange-dark: #DF3B23;
$color-brand-orange-light: #FBA11B;

/* default text color */
$color-text: #333;

/* reverse text color */
$color-text-reverse: #fff;

/* spacing */
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;