---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
import logo from "../images/logo-reverse-resized.png";

import oceansunrise from "../images/ocean-sunrise-compressed.mp4";
import drGreg from "../images/greg.jpg";
---

<Layout
	page="home"
	title="Fenix Therapeutic Services | Gregory Harmeling, Psy.D. "
>
	<main class="wrapper">
		<section class="hero p-group intro-screen" id="intro">
			<video autoplay loop muted playsinline class="video">
				<source src={oceansunrise} />
			</video>
			<div class="viewport-header">
				<h1>
					<Image class="logo" src={logo} alt="Fenix Therapeutic Services" />
				</h1>
				<h2>
					Welcome to Fenix Therapeutic Services, where your journey to healing
					and personal growth begins.
				</h2>
			</div>
		</section>
		<section id="about" class="section p-group">
			<div class="p-layer base-layer about-grid">
				<h2>About Fenix Therapeutic Services</h2>
				<div>
					<Image src={drGreg} alt="Gregory Harmeling, Psy.D." />
					<p>
						Fenix Therapeutic Services is the online practice of Dr. Gregory
						Harmeling, Psy.D., a Licensed Marriage and Family Therapist with
						over a decade of experience, dedicated to helping individuals
						navigate their mental health challenges with compassion and empathy.
						Read more <a href="/about">about Dr. Harmeling and his experience</a
						>.
					</p>
				</div>
			</div>
		</section>
		<section id="practice" class="section p-group">
			<div class="p-layer mid-layer practice-grid">
				<h2>Areas of Practice</h2>
				<article>
					<p>
						Fenix Therapeutic Services specializes in the following areas of
						therapy:
					</p>

					<ul role="list" class="link-card-grid hidden">
						<Card
							title="Cognitive Behavioral Therapy (CBT)"
							topic="CBT"
							link="/practice#cbt"
						/>
						<Card
							title="Solution-Focused Therapy (SFT)"
							topic="SFT"
							link="/practice#sft"
						/>
						<Card
							title="Trauma Informed Therapy"
							topic="Trauma-informed Therapy"
							link="/practice#trauma-informed"
						/>
						<Card
							title="Trauma-Informed CBT"
							topic="Trauma-informed CBT"
							link="/practice#trauma-cbt"
						/>
						<Card
							title="Certified Complex Trauma-Informed Therapist (CCTP I/II)"
							topic="CCTP"
							link="/practice#cctp"
						/>
						<Card
							title="Certified Narcissistic Abuse Treatment Clinician (NATC)"
							topic="NATC"
							link="/practice#natc"
						/>
						<Card
							title="Eye Movement Desensitization & Reprocessing (EMDR)"
							topic="EMDR"
							link="/practice#emdr"
						/>
					</ul>
				</article>
			</div>
		</section>
		<section id="book" class="section p-group">
			<div class="p-layer top-layer">
				<h2>Book a Session</h2>
				<article>
					<p>
						Fenix Therapeutic Services offers online individual therapy
						sessions, providing flexibility and convenience for clients.
						Sessions range from 60 to 90 minutes, depending on the treatment
						method used. Clients can expect a non-judgmental space to express
						their thoughts and feelings, with many describing therapy with Dr.
						Harmeling as akin to talking to a friend.
					</p>
					<p>
						Dr. Harmeling's practice is solely telehealth, with sessions
						available Monday through Friday from 8am to 1pm, and weekend
						sessions under special circumstances.
					</p>
					<p>
						The fee for an hour session is $150, but Fenix Therapeutic Services
						offers a sliding scale for those who qualify. MasterCard, Visa,
						Zelle, and Cashapp are accepted, making it easy for clients to
						access the help they need.
					</p>
					<p>
						Ready to take the next step? Fill out the form below to schedule
						your consultation and start your journey towards healing and growth.
					</p>
					<Form />
				</article>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	:root {
		--headerOpacity: 1;
		--headerScale: 1;
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	main {
		margin: auto;
		padding: 0;
		line-height: 1.6;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	section {
		padding: 1.5rem;
		@media (min-width: 1024px) {
			padding: 0 5rem;
		}
		h2 {
			text-align: center;
		}
	}
	.hero {
		background-image: url(../images/ocean-sunrise-frame-0m16s.jpg);
		background-size: cover;
		height: 100vh;
		width: 100vw;
		max-height: 620px;
		@media (min-width: 1024px) {
			background-image: none;
			margin-bottom: 720px;
		}
		@media (min-width: 1280px) {
			margin-bottom: 625px;
		}
		@media (min-width: 1920px) {
			margin-bottom: 960px;
		}

		.video {
			display: none;
			@media (min-width: 1024px) {
				display: block;
				object-fit: cover;
				width: 100vw;
				height: 100vh;
				opacity: 0.5;
				position: fixed;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
		.viewport-header {
			margin-top: 2rem;
			padding: 1rem;
			animation: 5s ease-in 0.5s 1 fadeIn;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			opacity: 1;
			opacity: var(--headerOpacity);
			transform: scale(var(--headerScale));
			@media (min-width: 1024px) {
				margin-top: 5rem;
			}
			@media (min-width: 1920px) {
				margin-top: 30rem;
			}

			h1 {
				display: flex;
				justify-content: center;
				.logo {
					width: 100%;
					height: auto;
					@media (min-width: 1024px) {
						width: 75%;
						max-width: 1000px;
					}
				}
			}
			h2 {
				text-align: center;
				@media (min-width: 1024px) {
					width: 1000px;
				}
			}
		}
	}
	.about-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
		padding: 0;
		transition: all 3s ease-in;
		@media (min-width: 1024px) {
			margin: 0 10rem;
		}

		div {
			@media (min-width: 768px) {
				display: flex;
				align-items: flex-start;
			}
			@media (min-width: 1500px) {
				max-width: 60%;
			}
		}
		img {
			border: 2px solid #fff;
			box-shadow: 0 10px 6px -6px #666;
			width: 55%;
			height: auto;
			margin: 1.5rem auto;
			max-width: 265px;
			@media (min-width: 768px) {
				margin: 1.5rem 2rem 1.5rem auto;
			}
		}
		p {
			margin-bottom: 1.5rem;
			flex: 1;
			padding: 1rem;
			a,
			a:link {
				color: #fff;
				text-decoratoin: none;
			}
			@media (min-width: 1024px) {
				max-width: 60%;
			}
		}
	}
	#practice {
		padding-left: 0;
		padding-right: 0;
		@media (min-width: 1024px) {
			margin-bottom: 30rem;
		}
		@media (min-width: 1920px) {
			margin-bottom: 0;
		}
		.practice-grid {
			background-image: url(../images/bg-practice.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			font-weight: 500;
			padding: 5rem;
			@media (min-width: 1024px) {
				padding: 35rem 5rem;
			}
			@media (min-width: 1280px) {
				padding: 30rem 5rem;
			}
			article {
				p {
					text-align: center;
					margin-bottom: 2rem;
				}
				@media (min-width: 1920px) {
					max-width: 60%;
				}
			}
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
		margin-bottom: 2rem;
		padding: 0;
		transition: all 3s ease-in;
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 1500px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	#book {
		margin-bottom: 10rem;
		@media (min-width: 1024px) {
			margin-bottom: 15rem;
		}
		article {
			padding-left: 1rem;
			padding-right: 1rem;
			@media (min-width: 1024px) {
				padding-left: 3rem;
				padding-right: 3rem;
			}
			@media (min-width: 1500px) {
				padding-left: 5rem;
				padding-right: 5rem;
			}
			@media (min-width: 1800px) {
				max-width: 60%;
			}
			p {
				margin-bottom: 2rem;
			}
		}
	}

	@media (min-width: 1024px) {
		// parallax pieces
		.wrapper {
			height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
			perspective: 300px;
		}
		.wrapper::-webkit-scrollbar {
			// hide the inner scrollbar defined above for parallax
			display: none;
		}
		.intro-screen {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.p-group {
			position: relative;
			height: 100vh;
			width: 100vw;
			transform-style: preserve-3d;
		}
		.p-layer {
			color: #fff;
			position: absolute;
			inset: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			a {
				color: #fff;
			}
		}
		.base-layer {
			/* scale calculation: 1 + ((Z transform value * -1) / perspective) */
			transform: translateZ(-300px) scale(2);
		}
		.mid-layer {
			transform: translate(0);
		}
		.top-layer {
			transform: translateZ(100px) scale(0.67);
		}
		#intro {
			z-index: 0;
		}
		#about {
			z-index: -1;
			img {
			}
			> .base-layer {
				background-color: #262161;
			}
		}
	}
</style>

<script>
	const target = document.querySelector("#about") as HTMLElement;
	const menuIcon = document.querySelector("#menu .icon") as HTMLElement;

	const options = {
		root: null,
		threshold: 0.3,
		rootMargin: "-100px",
	};

	function handleIntersection(entries: any[]) {
		entries.map((entry) => {
			if (entry.isIntersecting && screen.width > 1023) {
				menuIcon.classList.remove("hidden");
				menuIcon.classList.add("space-above");
				menuIcon.classList.add("animate");
			}
		});
	}

	const observer = new IntersectionObserver(handleIntersection, options);
	observer.observe(target);

	// const sections = document.querySelectorAll(".p-group");

	// function handleIntersection(entries: any[]) {
	// 	entries.map((entry) => {
	// 		if (entry.isIntersecting) {
	// 			entry.target.classList.add("visible");
	// 		} else {
	// 			entry.target.classList.remove("visible");
	// 		}
	// 	});
	// }

	// const observer = new IntersectionObserver(handleIntersection);

	// sections.forEach((section) => {
	// 	observer.observe(section);
	// });
</script>
