---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
import logo from "../images/logo-reverse.png";
import oceansunrise from "../images/ocean-sunrise.mp4";
import drGreg from "../images/greg-harmeling.jpg";
---

<Layout title="Fenix Therapeutic Services | Gregory Harmeling, Psy.D. ">
	<main class="wrapper">
		<section class="hero p-group intro-screen" id="intro">
			<video autoplay loop muted playsinline class="video">
				<source src={oceansunrise} />
			</video>
			<div class="viewport-header">
				<h1>
					<Image class="logo" src={logo} alt="Fenix Therapeutic Services" />
				</h1>
				<h2>
					Welcome to Fenix Therapeutic Services, where your journey to healing
					and personal growth begins.
				</h2>
			</div>
		</section>
		<section id="about" class="section p-group">
			<div class="p-layer base-layer about-grid">
				<div>
					<h3>About Fenix Therapeutic Services</h3>
					<p>
						Fenix Therapeutic Services is the online practice of Dr. Gregory
						Harmeling, Psy.D., a Licensed Marriage and Family Therapist with
						over a decade of experience, dedicated to helping individuals
						navigate their mental health challenges with compassion and empathy.
						His practice specializes in men's issues, Trauma-Informed Therapy,
						PTSD, and recovery from narcissistic, abusive relationships. As a
						certified Level 2 Clinical Trauma Professional and a Narcissistic
						Abuse Treatment Clinician (NATC), he is equipped to provide the
						highest level of care and support. His therapeutic approach is
						rooted in understanding and empathy, utilizing a combination of
						Cognitive Behavioral Therapy (CBT), Solution-Focused Therapy,
						Trauma-Informed Therapy, and Eye Movement Desensitization and
						Reprocessing (EMDR). These methods are tailored to meet the unique
						needs of each client, ensuring a personalized and effective
						treatment experience. Throughout his career, he has had the
						privilege of working with a diverse population of clients, including
						children in the foster system, teenagers in the juvenile justice
						system, and adults who have been justice-impacted. Additionally, he
						has extensive experience helping adolescents and adults cope with
						depression and anxiety. These experiences have provided him with the
						skills and insight to support clients from various backgrounds and
						with different needs.
					</p>
				</div>
				<Image src={drGreg} alt="Gregory Harmeling, Psy.D." />
			</div>
		</section>
		<section id="services" class="section p-group">
			<div class="p-layer mid-layer">
				<div>
					<h3>Services</h3>
					<p>
						Dr. Harmeling offers online individual therapy sessions, providing
						flexibility and convenience for his clients. Sessions range from 60
						to 90 minutes, depending on the treatment method used. Clients can
						expect a non-judgmental space to express their thoughts and
						feelings, with many describing therapy with Dr. Harmeling as akin to
						talking to a friend. His practice is solely telehealth, with
						sessions available Monday through Friday from 8am to 1pm, and
						weekend sessions under special circumstances. The fee for an hour
						session is $150, but Dr. Harmeling offers a sliding scale for those
						who qualify. MasterCard, Visa, Zelle, and Cashapp are accepted
						methods of payment, making it easy for clients to access the help
						they need. Ready to take the next step? Contact Dr. Harmeling today
						to schedule your consultation and start your journey towards healing
						and growth.
					</p>
				</div>
			</div>
		</section>
		<section id="book" class="section p-group">
			<div class="p-layer top-layer">
				<div>
					<h3>Book a Session</h3>
					<p>
						Please fill out the form below. You should receive a reply within 24
						hours.
					</p>
					<Form />
				</div>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	:root {
		--headerOpacity: 1;
		--headerScale: 1;
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	main {
		margin: auto;
		padding: 0;
		line-height: 1.6;
	}
	.container {
		width: 100%;
		//max-width: calc(100% - 2rem);
		margin: 0 auto;
	}
	section {
		padding: 0 5rem;
	}
	.hero {
		background-size: cover;
		height: 100vh;
		width: 100vw;
		position: absolute;
		margin-bottom: 100px;

		.video {
			object-fit: cover;
			width: 100vw;
			height: 100vh;
			opacity: 0.5;
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
		}
		// .overlay {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: #64609b;
		// 	mix-blend-mode: overlay;
		// }
		.viewport-header {
			padding: 1rem;
			animation: 5s ease-in 0.5s 1 fadeIn;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			// flex-direction: column;
			opacity: 1;
			opacity: var(--headerOpacity);
			transform: scale(var(--headerScale));

			.logo {
				max-width: 1000px;
				height: auto;
			}

			h2 {
				text-align: center;
				width: 1000px;
			}
		}
	}
	.about-grid {
		display: grid;
		grid-template-columns: 1fr 1fr; // TODO: this is desktop view - add mobile styles
		gap: 1.5rem;
		padding: 0;
		transition: all 3s ease-in;
	}
	form {
		border: 2px solid #fff;
		border-radius: 6px;
		color: #fff;
		background: #3f3a7c;
		box-sizing: border-box;
		margin: 2rem auto;
		padding: 2rem;
		width: 100%;
		@media (min-width: 768px) {
			width: 50%;
		}
	}

	// parallax pieces
	.wrapper {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		perspective: 10px;
	}
	.wrapper::-webkit-scrollbar {
		// hide the inner scrollbar defined above for parallax
		display: none;
	}
	.intro-screen {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.p-group {
		position: relative;
		height: 100vh;
		width: 100vw;
		transform-style: preserve-3d;
	}
	.p-layer {
		color: #fff;
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&.base-layer {
			flex-direction: row;
		}

		a {
			color: #fff;
		}

		div {
			width: 50%;
		}
	}
	.base-layer {
		/* scale calculation: 1 + ((Z transform value * -1) / perspective) */
		transform: translateZ(-5px) scale(1.5);
	}
	.mid-layer {
		transform: translate(0);
	}
	.top-layer {
		transform: translateZ(-5px) scale(1.5);
	}
	#intro {
		z-index: 0;
	}
	#about {
		z-index: -1;
		img {
			width: 395px;
			height: 533px;
			border: 2px solid #fff;
			box-shadow: 5px 0px 10px 0px #aaa;
		}
		> .base-layer {
			background-color: #262161;
		}
	}
	#services {
		margin-bottom: 315px;
		> .mid-layer {
			background-image: url(../images/bg-services.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			div {
				color: #000;
				font-weight: 500;
			}
		}
	}
	#book {
		p,
		form {
			width: auto;
		}
	}
</style>
<script>
	const target = document.querySelector("#about") as HTMLElement;
	const menuIcon = document.querySelector("#menu .icon") as HTMLElement;
	console.log(target);
	console.log(menuIcon);

	const options = {
		root: null,
		threshold: 0.3,
		rootMargin: "-100px",
	};

	function handleIntersection(entries: any[]) {
		entries.map((entry) => {
			if (entry.isIntersecting) {
				menuIcon.classList.remove("hidden");
				menuIcon.classList.add("space-above");
				menuIcon.classList.add("animate");
			}
		});
	}

	const observer = new IntersectionObserver(handleIntersection, options);
	observer.observe(target);

	// const sections = document.querySelectorAll(".p-group");

	// function handleIntersection(entries: any[]) {
	// 	entries.map((entry) => {
	// 		if (entry.isIntersecting) {
	// 			entry.target.classList.add("visible");
	// 		} else {
	// 			entry.target.classList.remove("visible");
	// 		}
	// 	});
	// }

	// const observer = new IntersectionObserver(handleIntersection);

	// sections.forEach((section) => {
	// 	observer.observe(section);
	// });
</script>
